
@font-face {
  font-family: 'Franklin Gothic Heavy Regular';
  src: url('../../assets/fonts/ITC Franklin Gothic Heavy Regular.otf');
}


@font-face {
  font-family: 'Franklin Gothic Cnd Medium';
  src: url('../../assets/fonts/ITC Franklin Gothic LT Condense Medium.otf');
}


@font-face {
  font-family: 'Franklin Gothic Medium';
  src: url('../../assets/fonts/ITC Franklin Gothic LT Medium.otf');
}


@font-face {
  font-family: 'Franklin Gothic Book';
  src: url('../../assets/fonts/ITC Franklin Gothic LT Book Regular.otf');
}


@font-face {
  font-family: 'Franklin Gothic Demi';
  src: url('../../assets/fonts/ITC Franklin Gothic LT Demi Com Regular.otf');
}
