//---------VARIABLES
//-----------------------

//-----COLORS
$cl-white: #FFF;
$cl-black: #000;
$cl-red  : #F00;
$cl-green: #0F0;
$cl-blue : #376fa7;
$cl-darkblue: #1b2d4b;

//------DIMENSIONS
$basefont-size: 16px;

//-----FONTS
$frank-heavy: Franklin Gothic Heavy Regular;
$frank-cndmed: Franklin Gothic Cnd Medium;
$frank-mid: Franklin Gothic Medium;
$frank-book: Franklin Gothic Book;
$frank-demi: Franklin Gothic Demi;
